*
  box-sizing: border-box

.clearfix
  *zoom: 1
  &:before, &:after
    content: ""
    display: table
  &:after
    clear: both

.none, .hide, .js-hide
  display: none

h1
  margin-bottom 30px
  font-size: 50px
  font-family: "Lobster", "News Cycle", Arial, Sans Serif

h2 
  font-size: 30px

h3
  font-size: 24px

p
  font-size: 18px

a
  font-size: 16px
  font-family: "News Cycle", "Helvetica Neue", Arial, Sans Serif

body
  background-color: #F5F5F5
  background-image: url()
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: top-center
  background-size: cover
  background-width: 100% 
  padding-top: 60px 
  padding-bottom: 50px //This should be whatever padding you want plus the height of the footer
  width: 100%

footer
  background-color: $black

body .content.container
  background-image: none
  background-color: #FFFFFF
  padding: 50px
  border-radius(5px)
  position: fixed, relative
  height: 100%
  overflow: auto
  top: 50px


body #ttl-design
  background-color: white
  padding: 50px 15px 25px 100px
  width: 100%
      // img.center.thumbnail
      // height: 290px
      // width: 100%

body #fl-design
  background-color: white
  padding: 50px 15px 25px 125px
  width: 100%
      // img.center.thumbnail
      // height: 290px
      // width: 100%

ul
  margin: 0 0 9px 17px

//Sticky Footer from http://www.cssstickyfooter.com/using-sticky-footer-code.html
html, body
  height: 100%

#wrap
  min-height: 100%

#main
  overflow: auto

footer#footer
  position: relative
  margin-top: 0px /* This should be the body bottom-padding minus the footer height */
  height: 75px
  clear: both
  font-family: "News Cycle", "Helvetica Neue", Arial, Sans Serif
  a
   font-size: 14px
  fttxt
   font-size: 14px
   color: #CD5555



/*Opera Fix*/
body:before
  content:""
  height:100%
  float:left
  width:0
  margin-top:-32767px
