*
  box-sizing: border-box

.clearfix
  *zoom: 1
  &:before, &:after
    content: ""
    display: table
  &:after
    clear: both

.none, .hide, .js-hide
  display: none

h1
  margin-bottom 30px

body
  padding: 50px
  background-color: $black
  font-family: Verdana, sans-serif

p
  font-family: Verdana, sans-serif

body div.content
  background-color: white
  padding: 10px
  border-radius(5px)

ul
  margin: 0 0 9px 17px

.font-helvetica
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif

.font-lucida
  font-family: "Lucida Sans Unicode", "Lucida Grande", Lucida, sans-serif;

.font-tahoma {
  font-family: Tahoma, sans-serif;
}
.font-trebuchet {
  font-family: Trebuchet, "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.font-georgia {
  font-family: Georgia, Times, serif;
}
.font-times {
  font-family: "Times New Roman", Times, serif;
}
.font-courier {
  font-family: "Courier New", Courier, monospace;
}