.navbar-inner
  position: fixed
  width: 100%
  left: 0
  top: 0

.navbar ul.nav li a
  font-size: 25px
  font-weight: none
  margin: 0px 0 0px 0
  height: 100%
  width: 100%
  a
    color: $orGrey
    text-shadow: 0 0 2px #999
  font-family: "Lobster", "News Cycle", Arial, Sans Serif

.navbar .brand
  height: 100%
  width: 100%
  // padding: 10px 30px 10px 5px
  // line-height: 19px

