#profileModal
  width: 60%
  margin-left: -30%

.left-column
  padding: 25px

.right-column
  padding: 25px 25px 25px 0
  overflow: hidden

.profile-bio
  border-top: 1px solid $ltGrey
  padding: 10px 0

.profile-dates, .profile-headline
  font-style: italic
  margin-bottom: 10px

.external-links
  list-style: none
  margin-left: 0

.external-links > li
  line-height: 18px
  float: left
  width: 35px
  margin: 0 0 9px 10px

i.back
  vertical-align: baseline

blockquote p.featured-quote
  font-size: inherit
  line-height: inherit

legend.photo-source
  font-size: inherit
  line-height: inherit
  color: lightgray
  font-style: italic
  margin-bottom: 0

.leader-text
  padding-top: 10px
  margin-left: 30px

h1
  margin-bottom: 15px

.centered-img-container
  text-align center
  padding: 10px 0
  margin-bottom: 25px

.centered-container
  text-align center

img.take-lead
  max-width 400px

.take-lead-info
  border-bottom: 1px solid $ltGrey
  padding-bottom: 20px
  margin-bottom: 20px
  text-align: center
  p
    margin: 0 15% 0 15%

img.story
  display block
  margin-right 15px
  width 250px
  float left

blockquote.story
  margin-left 270px
  margin-top 20px
  margin-bottom 20px
  font-style italic
  font-size 16px

h2.story
  margin-bottom 15px
  text-align center

.story-text
  margin-right 10%
  text-align justify
  p
    margin-bottom 10px
    font-size 16px
  &.achieve
    margin-top 20px

e
  color $ltBlue

button.close.story
  margin-bottom 5px

#infographic-story
  width: 70%
  margin-left: -35%

.leader-image
  width 200px
  float left

.leader-container
  margin-left 20px
  margin-bottom 40px

a.lead.thumbnail
  width 100%