#profileModal
  width: 60%
  margin-left: -30%

.left-column
  padding: 25px

.right-column
  padding: 25px 25px 25px 0
  overflow: hidden

.profile-bio
  border-top: 1px solid $ltGrey
  border-bottom: 1px solid $ltGrey
  padding: 10px 0
  margin-bottom: 20px

.profile-dates, .profile-headline
  font-style: italic
  margin-bottom: 10px