#profile
  width: 80%
  border: 1px solid $ltGrey
  border-radius: 12px
  box-shadow: 3px 3px 3px #f7f7f7
  margin: 0 auto

.left-column
  padding: 25px

.right-column
  padding: 25px 25px 25px 0
  overflow: hidden

.profile-bio
  border-top: 1px solid $ltGrey
  border-bottom: 1px solid $ltGrey
  padding: 10px 0
  margin-bottom: 20px

.profile-dates, .profile-headline
  font-style: italic
  margin-bottom: 10px