// Colors

$black = #222
$ltBlue = #27aae1
$ltGrey = #d6d7d8
$orGrey = #f2ede4
$orBlue = #85a5cc
$orRed = #ff837e

// Modules
$navbarHeight ?=                    70px
$navbarBackground ?=                $white
$navbarBackgroundHighlight ?=       $white
$navbarLinkBackgroundHover ?=       $white

$navbarText ?=                      $black
$navbarLinkColor ?=                 $black
$navbarLinkColorHover ?=            $black

$linkColor ?= $ltBlue

$iconSpritePath ?=          "/images/glyphicons-halflings.png"
$iconWhiteSpritePath ?=     "/images/glyphicons-halflings-white.png"

$baseFontFamily =        "News Cycle", Verdana, Arial, sans-serif