// Colors

$black = #222
$ltBlue = #27aae1
$ltGrey = #d6d7d8
$orGrey = #f2ede4
$orBlue = #8B0A50
$orRed = #ff837e

// Modules
$navbarHeight ?=                    70px
$navbarBackground ?=                #000033
$navbarBackgroundHighlight ?=       #000033
$navbarLinkBackgroundHover ?=       $ltBlue

$navbarText ?=                      $white
$navbarLinkColor ?=                 $white
$navbarLinkColorHover ?=            $white

$linkColor ?= $ltBlue

$iconSpritePath ?=          "/images/glyphicons-halflings.png"
$iconWhiteSpritePath ?=     "/images/glyphicons-halflings-white.png"

$baseFontFamily =        "News Cycle", Verdana, Arial, sans-serif