// Colors

$black = #222
$ltBlue = #27aae1
$ltGrey = #d6d7d8

// Modules
$navbarHeight ?=                    40px
$navbarBackground ?=                $ltBlue
$navbarBackgroundHighlight ?=       $ltBlue
$navbarLinkBackgroundHover ?=       transparent

$navbarText ?=                      $white
$navbarLinkColor ?=                 $white
$navbarLinkColorHover ?=            $ltGrey

$linkColor ?= $ltBlue