footer#footer.clearfix
  .logo
    // img(src="images/footer_logo.jpg", alt="Lead Her Forward Logo")
  nav
    ul
      li
        a(href="/team") The LHF Team
      li
        a(href='/profiles') Featured Leaders
      li
        a(href="/sources") List of Sources