footer#footer.clearfix
  .logo
    img(data-src="holder.js/260x120", alt="LeadHerForward Logo")
  nav
    ul
      li
        a(href="/") Home
      li
        a(href="/why") The Lead Her Forward Story
      li
        a(href="/profiles") List of Featured Leaders
      li
        a(href="/team") Our Team
      li
        a(href="/contact_us") Contact Us
