footer#footer.clearfix
  .logo
    img(data-src="holder.js/260x120", alt="LeadHerForward Logo")
  nav
    ul
      li
        a(href="/team") team
      li
        a(href="/why") Why LeadHerForward?
      li
        a(href="/about") About the Leaders
//      li
//       a(href="/resources") Resources for Girls
//      li
//        a(href="/faq") FAQs
      li
        a(href="/contact_us") Contact Us
