footer#footer.clearfix
  .logo
      center
      fttxt Made in love and solidarity 
      br 
      fttxt Lead Her Forward 2013. 
      // img(src="images/footer_logo.jpg", alt="Lead Her Forward Logo")
   nav
    ul
      li
        fttxt About Us
        br
        a(href="/team") The LHF Team
        br
   nav
    ul
      li
        fttxt More Info on the App
        br
        a(href='/profiles') Featured Leaders
      li
        a(href="/sources") List of Sources
        p
   nav
    ul
      li
        fttxt Join the Convo
        br
        a(href='http://twitter.com/leadherforward') Tweet with #leadherforward