footer#footer.clearfix
  .logo
    // img(src="images/footer_logo.jpg", alt="Lead Her Forward Logo")
  nav
    ul
      li
        a(href="/team") Created by The LHF Team.
      li
        a(href="/sources") Sources