.header-img
//img(data-src="holder.js/2000x120/text:LeadHerForward Header", alt="LeadHerForward Header")
div.navbar
  div.navbar-inner
    div.container-fluid
      a.brand(href="#") Lead Her Forward
      ul.nav
        li
          a(href='/') Timeline
        li
          a(href='/take_lead') Take the Lead
        li
          a(href='/why') The LHF Story
//      form(class="navbar-search pull-right")
//        input(type="text", class="search-query", placeholder="Search", id="search-field")
