div.navbar
  div.navbar-inner
    div.container-fluid
      .brand
       img(src="images/footer_logo.jpg", alt="Lead Her Forward Logo")
      ul.nav
        li
          a(href='/') Timeline
        li
          a(href='/profiles') List of Leaders
        li
          a(href='/why') Know the Story
        li
          a(href='/take_lead') Take the Lead!
