div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container-fluid
      a.brand(href="#") Lead Her Forward
      ul.nav
        li
          a(href='/') Timeline
        li
          a(href='/why') Why LHF
        li
          a(href='/team') Take the Leads
        li
          a(href='/resources') Resources
        li
          a(href='/contact_us') Contact
      form(class="navbar-search pull-right")
        input(type="text", class="search-query", placeholder="Search", id="search-field")