img(src="images/footer_logo.jpg", alt="Lead Her Forward")

div.navbar
  div.navbar-inner
    div.container
      //a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
       // span.icon-bar
       // span.icon-bar
      //  span.icon-bar
      .brand 
        // img(src="images/footer_logo.jpg", alt="Lead Her Forward Logo")
      .nav-collapse
        ul.nav
          li
            a(href='/why') Know the Issue
          li
            a(href='/') Explore the Timeline
          li
            a(href='/profiles') Meet the Leaders
          li
            a(href='/take_lead') Take the Lead!
