div.navbar-fixed-top 
  div.navbar-inner
    div.container
     a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
       span.icon-bar
       span.icon-bar
       span.icon-bar
     div.span4
        a(href='/') 
          img(src="images/LHF_header_logo.png", alt="Lead Her Forward")
     div.navbar
       .nav-collapse
          ul.nav
            li.nav-header 
            li
             a(href='/why') <br> KNOW THE ISSUE
            li
             a(href='/timeline') <br> EXPLORE THE TIMELINE
            li
              a(href='/take_lead') <br> TAKE THE LEAD!  
    
 