div.navbar-fixed-top 
  div.navbar-inner
    div.container
     a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
       span.icon-bar
       span.icon-bar
       span.icon-bar
     div.span4 
       img(src="images/footer_logo.jpg", alt="Lead Her Forward")
     div.navbar
       .nav-collapse
          ul.nav
            li.nav-header 
            li
             a(href='/why') <br> Know the Issue
            li
             a(href='/') <br> Explore the Timeline
            li
             a(href='/profiles') <br> Meet the Leaders
            li
              a(href='/take_lead') <br> Take the Lead!  
    
 