div.navbar
  div.navbar-inner
    div.container-fluid
      .brand LEAD HER FORWARD // img(src="images/footer_logo.jpg", alt="Lead Her Forward Logo")
      ul.nav
        li
          a(href='/why') Know the Issue
        li
          a(href='/') Explore the Timeline
        li
          a(href='/profiles') Meet the Leaders
        li
          a(href='/take_lead') Take the Lead!
