div.navbar
  div.navbar-inner
    div.container-fluid
      .brand Lead Her Forward
      ul.nav
        li
          a(href='/') View the Timeline
        li
          a(href='/take_lead') Take the Lead!
        li
          a(href='/why') The LHF Story
        li
          a(href='/profiles') List of Featured Leaders
