//script(src="javascripts/lib/jquery.js")
script(src="http://code.jquery.com/jquery-1.9.0.js")
//- uncomment these next lines and remove the line above to switch to
//- CDN jquery with local fallback.
//- script(src="http://code.jquery.com/jquery-latest.js")
//- script
//-   window.jQuery || document.write('<script src="javascripts/lib/jquery.js"><\\/script>')
script(src="javascripts/lib/bootstrap.min.js")

//- remove holder js when you go to production
script(src="javascripts/lib/holder.js")
script(src="javascripts/js/timeline-min.js")
//script(src="javascripts/lib/timeline.js")

//script(src="javascripts/timeline_ourconfigs.js")
script(src="javascripts/storyjs-embed.js")
script(src="javascripts/script.js")

//- uncomment this to if we want to add google analytics
//- change UA-XXXXX-X to your id and outdent the following:
  script
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
