script(src="http://code.jquery.com/jquery-1.9.0.min.js")
script
  window.jQuery || document.write('<script src="javascripts/jquery-1.9.0.min.js"><\\/script>')

script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/timeline_ourconfigs.js")
script(src="/javascripts/storyjs-embed.js")

script(src="/javascripts/script.js")
