extends layout

block content
 center 
   br
   br
   h1 Welcome to Lead Her Forward
   br
   br
   h2 Lead Her Forward is a web app project that both seeks to empower and educate.
   br
   br
   h2 Throughout time, women have made significant contributions. But past women leaders continue to be nameless and some of their contributions undervalued and forgotten. From the halls of Congress to the classroom, women and girls continue to fight for their voices to be heard.
   br
   br
   h2 Let's move our nation forward and change things for the better.
   br
   br
   h2 Through learning about women’s past and current stories and establishing a connection directly with leaders, it is our vision that girls will also be able to see the relationship between generations and the possibilities in their own futures.