doctype 5
html
  head
    title= settings.title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1= settings.title
      block content
    footer
      nav
        ul
          li
            a(href="/team") Our Team
          li
            a(href="/why") Why LeadHerForward?
          li
            a(href="/about") About the Leaders
          li
            a(href="/resources") Resources for Girls
          li
            a(href="/faq") FAQs
          li
            a(href="/contact_us") Contact Us