!!! 5
html
  head
    title= settings.title
    link(href='/stylesheets/main.css', rel='stylesheet', media='screen')
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a.brand(href="#") Lead Her Forward
          ul.nav
            li
              a(href='/') Home
            li
              a(href='/team') About
            li
              a(href='/contact_us') Contact
    div.container-fluid
      block content
    footer
      nav
        ul
          li
            a(href="/team") Our Team
          li
            a(href="/why") Why LeadHerForward?
          li
            a(href="/about") About the Leaders
          li
            a(href="/resources") Resources for Girls
          li
            a(href="/faq") FAQs
          li
            a(href="/contact_us") Contact Us
    // script(src="http://code.jquery.com/jquery-latest.js")
    script(src="javascripts/lib/jquery.js")
    script(src="javascripts/lib/bootstrap.min.js")
    script(src="javascripts/lib/timeline-min.js")
    script(src="javascripts/script.js")