.modal-body
  .row-fluid
    img.span5(src='/images/lead-large.png')
    button.close("aria-hidden" = "true", "data-dismiss" = "modal", 'type' = "button") ×
    button.close.back_to_profile("aria-hidden" = "true", 'type' = "button", href = '/profile/#{id}')
      i.back.icon-arrow-left
    =lead