extends layout

block content
  .centered-img-container
    img.take-lead(src='/images/lead-large.png')

  .take-lead-info
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean turpis leo, malesuada vitae aliquet ac, ultricies non metus. Curabitur in arcu ut dolor elementum malesuada non eu velit. Curabitur augue enim, congue a cursus nec, imperdiet a augue. Ut faucibus dolor vel mauris pulvinar a mattis leo congue. Ut pretium scelerisque massa sed facilisis. Ut in nunc metus. Integer ullamcorper congue velit ac aliquet. Mauris at eleifend mauris.

  for profile in profiles
    if profile.take_the_lead
      .leader-container.row
        .leader-content
          img.leader-image.span3.thumbnail(src=profile.photos[0])
          .leader-text.span9
            h2.date=profile.year
            h3= profile.name
            p
            p= profile.take_the_lead
            p
