extends layout

block content

  .row
    .span18
      center.span4
       img.take-lead(src='/images/lead-large.png', width="100%", alt="Take The Lead!")
      br

      .take-lead-text
       center
         br
         br
         br
         br
         br
         br
         br
         br
         h1 Inspired by the success stories of the women on the timeline? <br />
         br
       p
         h2| Then get ready to participate and engage in “TAKE THE LEAD!” - a list of questions and activities designed to help YOU become a great leader. On your own or with a group of friends, reflect on some of the admirable women you read about in our timeline and take away a valuable leadership lesson from each of them. <br /><br />
       center
          h1| Be brave. Speak up. Take the Lead.<br />

  #ttl-design
    each x, i in profiles
      if i%1 === 0
        .leader-container.row
          each profile, j in profiles.slice(i, i+1)
            .leader-content.centered-container
                  // img.center.thumbnail(src=profile.photos[0], alt="Image of #{profile.name}")
              .leader-text
                  // h1.date=profile.year
                h1= profile.name
                br
                p
                h3= profile.take_the_lead
                p
