extends layout

block content
 center  
  h1 Profile Sources<br><br>
 h2 Martha Griffins
 p Photo text: Common Dreams
 p Photo source: http://www.commondreams.org/headlines03/images/0425-01.jpg
 br

 h2 Rosa Parks 
 p Photo text: American Civil Liberties Union 
 p Photo source: http://www.aclu.org/files/imagecache/blog_feature_500/blog_images/blogs-rp-500x280-v01.jpg
 p Copy text: Official website
 p Copy source: http://rosaparks.org/
 br

 h2 Yuri Kochiyama
 p Photo text: The HIST 252 Blog 
 p Photo source: http://www.bwg-lectures.com/252blog/?p=307
 p Copy text: Yuri Kochiyama Memoir, Passing It On
 p Copy source: http://www.aasc.ucla.edu/aascpress/tocs/passingiton.asp
 br

 h2 Patsy Mink
 p Photo text: Women in Congress - History, Art, & Archives - U.S. House of Representatives
 p Photo source: http://womenincongress.house.gov/member-profiles/profile.html?intID=173
 p Copy text: Women in Congress - History, Art, & Archives - U.S. House of Representatives
 p Copy source: http://womenincongress.house.gov/member-profiles/profile.html?intID=173
 br

 h2 Dolores Huerta
 p Copy text: Official Website
 p Copy source: http://www.doloreshuerta.org/
 br

 h2 Yvonne Brathwaite Burke
 p Photo text: Women in Congress - History, Art, & Archives - U.S. House of Representatives
 p Photo source: http://womenincongress.house.gov/member-profiles/profile.html?intID=28
 p Copy text: Women in Congress - History, Art, & Archives - U.S. House of Representatives
 p Copy source: http://womenincongress.house.gov/member-profiles/profile.html?intID=28
 br

 h2 Shirley Chisholm
 p Photo text: Savvy Sistah
 p Photo source: http://thesavvysistah.com/wp-content/uploads/2011/09/Shirley-Chisholm.jpg
 p Copy text:  Women in Congress - History, Art, & Archives - U.S. House of Representatives 
 p Copy source: http://history.house.gov/People/Detail/10918?ret=True
 br

 h2 Barbara Mikulski
 p Photo text: Women in Congress - History, Art, & Archives - U.S. House of Representatives 
 p Photo source: http://history.house.gov/People/Detail/18207?ret=True
 p Copy text: Barbara Mikulski Official Senate Website
 p Copy source: http://www.mikulski.senate.gov
 br

 h2 Bella Abzug
 p Photo text: Women in Congress - History, Art, & Archives - U.S. House of Representatives 
 p Photo source: http://history.house.gov/People/Detail/8276?ret=True
 p Copy text: Women in Congress - History, Art, & Archives - U.S. House of Representatives 
 p Copy source: http://history.house.gov/People/Detail/8276?ret=True
 br

 h2 Helen Zia
 p Photo text: The MyHero Project
 p Photo source: http://www.myhero.com/go/hero.asp?hero=H_Zia_dnhs_US_2012
 p Copy text: Asian American Dreams
 p Copy source: http://www.amazon.com/Asian-American-Dreams-Emergence-People/dp/0374527369
 br

 h2 Sheila Jackson Lee
 p Copy text: Women in Congress - History, Art, & Archives - U.S. House of Representatives 
 p Copy source: http://history.house.gov/People/Detail/15730?ret=True
 br

 h2 Barbara Lee
 p Photo text: New American Media
 p Photo source: http://media.namx.org/images/editorial/2010/12/1215/j_jones_blacktax/j_jones_blacktax_500x279.jpg
 p Copy text: Barbara Lee Official House of Representatives Website
 p Copy source: lee.house.gov
 br

 h2 Lucille Roybal-Allard
 p Photo text: Lucille Roybal Allard Official House of Representatives Website
 p Photo source: http://roybal-allard.house.gov/UploadedPhotos/mediumresolution/07f2388f-9a37-4153-8eae-0f183667f3a1.jpg
 p Copy text: Lucille Roybal Allard Official House of Representatives Website
 p Copy source: http://roybal-allard.house.gov
 br

 h2 Yvette Clarke
 p Photo text: Yvette Clarke Official House of Representatives Website
 p Photo source: http://clarke.house.gov
 p Copy text: Yvette Clarke Official House of Representatives Website
 p Copy source: http://clarke.house.gov
 br
 
 h2 Tam Ngoc Tran
 p Photo text: Tam Tran Memorial Fund
 p Photo source: http://tamandcinthyamemorial.org/p/donate-to-tam-tran-memorial-fund.html
 p Copy text: Undocumented and Unafraid: Tam Tran, Cinthya Felix, and the Immigrant Youth Movement.
 p Copy source: http://www.undocumentedunafraid.com/
 br

 h2 Cinthya Nathalie Felix Perez
 p Photo text: Cinthya Felix Memorial Fund
 p Photo source: http://tamandcinthyamemorial.org/p/donate-to-cinthya-felix-memorial-fund.html
 p Copy text: Undocumented and Unafraid: Tam Tran, Cinthya Felix, and the Immigrant Youth Movement.
 p Copy source: http://www.undocumentedunafraid.com/
 br

 h2 Mona Pasquil
 p Photo text: KAYA: Filipino Americans for Progress
 p Photo source: http://www.kayagrassroots.org
 p Copy text: Asian Journal
 p Copy source: http://www.asianjournal.com/aj-magazine/midweek-mgzn/12005-mona-pasquil-californias-appointments-secretary-under-gov-jerry-brown-a-former-acting-ltgovernor.html
 br

 h2 Judy Chu
 p Photo text: Asian Pacific American Institute for Congressional Studies (APAICS)
 p Photo source: http://www.apaics.org/index.php/resources/representative_profile/Judy_Chu_CA
 p Copy text: Judy Chu Official House of Representatives Website
 p Copy source: http://chu.house.gov
 br

 h2 Michelle Obama
 p Photo text: The Washington Times
 p Photo source: http://communities.washingtontimes.com/neighborhood/2012-democratic-national-convention-tampa/2012/sep/5/julian-fidel-castro-michelle-seinfeld-obama/
 p Copy text: First Lady Michelle Obama Official Website
 p Copy source: http://www.whitehouse.gov/administration/first-lady-michelle-obama
 br

 h2 Hillary Rodham Clinton
 p Photo text: Cafe Con Leche Blog
 p Photo source: http://cafeconlecheblog.com/loyalty-still-exists-between-hillary-clinton-and-john-mccain/#.URRgy1pdeYw
 p Copy text: Secretary of State Hillary Clinton Official Website
 p Copy source: http://www.state.gov/secretary/rm/index.htm
 br

 h2 Hilda Solis
 p Photo text: The Guardian - Las Vegas
 p Photo source: http://guardianlv.com/wp-content/uploads/2013/01/l-zachnew-solis.jpeg
 p Copy text: The Washington Post
 p Copy source: http://www.washingtonpost.com/postlive/qanda-with-hilda-solis/2012/12/21/c3daf5f0-4baf-11e2-b709-667035ff9029_story.html 
 br

 h2 Kathleen Sebelius
 p Photo text: Chris Smith 
 p Photo source: http://www.hhs.gov/secretary/index.html
 p Copy text: Secretary of Health and Human Services Kathleen Sebelius Official Website
 p Copy source: http://www.hhs.gov/secretary/index.html
 br

 h2 Sonia Sotomayor
 p Photo text: National Public Radio (NPR) 
 p Photo source: http://media.npr.org/assets/img/2012/12/20/sotomayor_002_wide-ddfbddf9d464f3278d235f5233514a8a20734efd-s4.jpg
 p Copy text: National Public Radio (NPR) 
 p Copy source: http://www.npr.org/templates/story/story.php?storyId=104538436
 br

 h2 Tammy Baldwin
 br

 h2 Tammy Duckworth
 p Copy text: Tammy Duckworth Official House of Representatives Website 
 p Copy source: http://duckworth.house.gov/
 br

 h2 Mazie Hirono
 p Photo text: Mazie Hirono Official Senate Website 
 p Photo source: http://www.senate.gov/senators/113th_Congress/Hirono_Mazie.htm
 p Copy text: Women in Congress - History, Art, & Archives - U.S. House of Representatives
 p Copy source: http://history.house.gov/People/Detail/15580?ret=True
 br
