extends ../layout



block content

  h1  <center>Our Team</center><br /><br />

style(type='text/css')
.column {width:200px;} 

// this is column 1

  .column

  h2  Founders
  p(align="center")
  |Mia Jamili<br />
  |Erin Pangilinan<br /><br />
  
  h2  Development
  p(align="center")
  |Mia Jamili<br />
  |Jonathan Conley<br />
  |Rana Khalil<br />
  |Adam Lichtenstein<br />
  |Patrick Namasondhi<br />
  |Pamela Selle<br /><br />

// this is column 2

  .column

  h2  Research
  p(align="center")
  |Erin Pangilinan<br />
  |Mia Jamili<br />
  |Monica Garcia  <br />
  |Rowena Robles<br />
  |Stephen Rudman<br />
  |Marla Shaivitz<br /><br />

  h2  Graphic Design
  p(align="center")
  |Erin Pangilinan<br />
  |Ashley Villanueva<br />
  |Gilian Navarro<br /><br />

// this is column 3 
  
  .column

  h2  Special Thanks
  p(align="center")
  |Brent Bushnell<br />
  |Murriel Calaycay<br />
  |Maia Hariton<br />
  |Yoko Nakano<br />
  |Paria Rajai<br />
  |Amy Kim<br />
  |Elana Stroud<br />
  |Casey Tran<br />
  |Jessie Tseng<br />

  <br />
  .p
  |Got questions, suggestions, and/or words of affirmation? Email us at <a href="mailto:leadherforward2013@gmail.com">leadherforward2013@gmail.com</a>.
