extends ../layout



block content

  h1  Our Team

  img (src=”public/images/logo/lead-large.png”)

  h2  Founders

  #links
  a(href='http://twitter.com/miajamili') Mia Jamili <br />
  a(href='') Erin Pangilinan

  h2  Development

  p(align="center")
  |Mia Jamili<br />
  |Jonathan Conley<br />
  |Rana Khalil<br />
  |Adam Lichtenstein<br />
  |Patrick Namasondhi<br />
  |Pamela Selle

  h2  Research

  .p
  |Erin Pangilinan<br />
  |Mia Jamili<br />
  |Monica Garcia  <br />
  |Rowena Robles<br />
  |Stephen Rudman<br />
  |Marla Shaivitz<br />

  h2  Graphic Design

  .p
  |Erin Pangilinan<br />
  |Ashley Villanueva<br />
  |Gilian Navarro<br />

  h2  Special Thanks

  .p
  |Brent Bushnell<br />
  |Murriel Calaycay<br />
  |Maia Hariton<br />
  |Yoko Nakano<br />
  |Paria Rajai<br />
  |Amy Kim<br />
  |Elana Stroud<br />
  |Casey Tran<br />
  |Jessie Tseng<br />

  <br />
  .p
  |Got questions, suggestions, and/or affirmations? Email us at leadherforward2013@gmail.com
