extends ../layout

block content

  br
  h1  <center>Our Team</center>
  br
  center
    h3|Have questions, suggestions, and/or words of affirmation? <br>Email us at leadherforward2013@gmail.com.
  br
  table(border='0', bordercolor='#FFFFFF', style='background-color: #FFFFFF;', width='100%', cellpadding='25', cellspacing='25')
    tr

      td(width='33%')
       center
         h1  Founders
         p(align="center")
         h3|Mia Jamili<br />
         h3|Erin Pangilinan<br /><br /><br />
         h1  Product Design and Development
         p(align="center")
         h3|Mia Jamili<br />
         h3|Jonathan Conley<br />
         h3|Rana Khalil<br />
         h3|Patrick Namasondhi<br /><br />

       td(width='33%')
        center 
         h1  Research
         p(align="center")
         h3|Erin Pangilinan<br />
         h3|Mia Jamili<br />
         h3|Monica Garcia  <br />
         h3|Rowena Robles<br />
         h3|Stephen Rudman<br />
         h3|Marla Shaivitz<br /><br />
         h1  Graphic Design
         p(align="center")
         h3|Ashley Villanueva<br />
         h3|Gilian Navarro<br />
         
       td(width='33%')
        center 
         h1 Special Thanks
         p(align="center")
         h3|Brent Bushnell<br />
         h3|Murriel Calaycay<br />
         h3|Maia Hariton<br />
         h3|Adam Lichtenstein<br />
         h3|Yoko Nakano<br />
         h3|Paria Rajai<br />
         h3|Amy Kim<br />
         h3|Pamela Selle<br />
         h3|Elana Stroud<br />
         h3|Casey Tran<br />
         h3|Jessie Tseng<br />

