extends ../layout

block content

  h1  Our Team

//  img (src=”public/images/logo/lead-large.png”)

  h2  Founders

  a(href=”http://www.twitter.com/miajamili”) Mia Jamili
  a(href=”http://www.twitter.com/erinjerri”) Erin Pangilinan

  h2  Development

  .p
  |Mia Jamili
  |Jonathan Conley
  |Rana Khalil
  |Adam Lichtenstein
  |Patrick Namasondhi
  |Pamela Selle

  h2  Research

  .p
  |Erin Pangilinan
  |Mia Jamili
  |Monica Garcia  
  |Rowena Robles
  |Stephen Rudman
  |Marla Shaivitz

  h2  Graphic Design

  .p
  |Erin Pangilinan
  |Ashley Villanueva
  |Gilian Navarro

  h2  Special Thanks

  .p
  |Brent Bushnell
  |Murriel Calaycay
  |Maia Hariton
  |Yoko Nakano
  |Paria Rajai
  |Amy Kim
  |Elana Stroud
  |Casey Tran
  |Jessie Tseng

  .p
  |Got questions, suggestions, and/or affirmations? Email us at leadherforward2013@gmail.com
