extends ../layout

block content

  h1  Our Team
  table(border='0', bordercolor='#FFFFFF', style='background-color: #FFFFFF;', width='100%', cellpadding='25', cellspacing='25')
    tr

      td(width='33%')
       center
         h2  Founders
         p(align="center")
         |Mia Jamili<br />
         |Erin Pangilinan<br /><br />
         h2  Development
         p(align="center")
         |Mia Jamili<br />
         |Jonathan Conley<br />
         |Rana Khalil<br />
         |Patrick Namasondhi<br /><br />
         h2  Graphic Design
         p(align="center")
         |Erin Pangilinan<br />
         |Ashley Villanueva<br />
         |Gilian Navarro<br />

       td(width='33%')
        center 
         h2  Research
         p(align="center")
         |Erin Pangilinan<br />
         |Mia Jamili<br />
         |Monica Garcia  <br />
         |Rowena Robles<br />
         |Stephen Rudman<br />
         |Marla Shaivitz<br /><br />
         p(align="center")
         |<b>Got questions, suggestions, and/or words of affirmation?</b> Email us at <a href="mailto:leadherforward2013@gmail.com">leadherforward2013@gmail.com</a>.
         
       td(width='33%')
        center 
         h2 Special Thanks
         p(align="center")
         |Brent Bushnell<br />
         |Murriel Calaycay<br />
         |Maia Hariton<br />
         |Adam Lichtenstein<br />
         |Yoko Nakano<br />
         |Paria Rajai<br />
         |Amy Kim<br />
         |Pamela Selle<br />
         |Elana Stroud<br />
         |Casey Tran<br />
         |Jessie Tseng<br />
