extends ../layout

body 

block content
  #infographic-story.hide.fade.modal("aria-hidden" = "true", "aria-labelledby" = "myModalLabel", 'role' = "dialog", 'tabindex' = "-1")
    .modal-body
      button.close.story("aria-hidden" = "true", "data-dismiss" = "modal", 'type' = "button") ×
      img(src='images/LHF-story.jpg', alt="Info Graphic summarizing text content")
  .row.centered-container
    h1 KNOW THE ISSUE
  .row
    a.story(href='#infographic-story', data-toggle="modal")
            img.story.thumbnail(src='images/LHF-story-small.jpg', width='100%', alt="Info Graphic summarizing text content") 
    .story-text
      h2.story Our Present Situation
      h3 <i>Why do we need more women leaders in public service?</i>
      p Throughout time, women have made significant contributions. But past women leaders continue to be nameless and some of their contributions undervalued and forgotten.
      p From the halls of Congress to the classroom, women and girls continue to fight for their voices to be heard.
      p The U.S. has failed to equally represent the voices of half of the population. The U.S. ranks 90th in terms of women elected representatives in government.
      p
        |There have been
        e  44&nbsp
        | women of color who have served in Congress since 1964.  Currently, Women of color represent
        e  18.4%&nbsp
        of the total U.S. population.
      p
        Despite gains in the 113th Congress, women still continue to be underrepresented.  A truly representative Congress would have
        e  268&nbsp
        women members. We have currently
        e  101
        .
      p Let’s increase that number. (There’s always room at the top.)
      blockquote.story
        p.featured-quote Now, the numbers on participation tell the story. Women hold less than 20 percent of all seats in parliaments and legislatures around the world. I’m sorry to say, here in the United States, our percentage is even a little lower, at 17 percent. And it’s not just politics. Only 3 percent of Fortune 500 CEOs are women. And I always think to myself: What a waste, because the world cannot miss out on the talents and contributions of half the population.
        p.featured-quote But these numbers tell only part of the story. We need better data and more rigorous research that documents the impact women have on in public service and the obstacles that still prevent us from contributing.
        small Hillary Clinton, Remarks at the Opening of the Inaugural Women in Public Service Institute at Wellesley College, June 11th, 2012
      p In the struggle for gender equality, American women of all backgrounds face many barriers, whether they are cultural traditions, social pressures that discourage women to take the first step in initiating a form of leadership, like starting a business or running for office.
      p Every woman leader has a story of challenges that they have overcome in order to move forward. We also recognize that women leaders have shaped and will continue to shape the nation’s future. Join us in our hopes to move our country forward so that women will have equal political participation and economic equity.
      h2.story The Lead Her Forward Story
      h3 <i>What do we need to do and how can we achieve it?</i>
      p Lead Her Forward is an interactive timeline that features profiles of women leaders in the U.S. who have changed the path of our nation. Each leader profile showcases each leader’s pathway to leadership and ways to connect with current leaders via their official websites and social media.
      p Our timeline is set from the 1950s to the present. We hope through using this app, people are able to see and learn more about women leaders, who serve as role models and inspirations.
      p Our app both seeks to empower and educate. We want Lead Her Forward to be used as a tool to increase the awareness of the contributions of women to U.S. democracy and society. We want to instill confidence in women and girls to act, speak, and lead courageously in the spirit of these leaders. We aim to highlight the presence of women leadership and the need to continue to cultivate women leaders.
      p Through learning about women’s past and current stories and establishing a connection directly with leaders, it is our vision that girls will also be able to see the relationship between generations and the possibilities in their own futures.