body {
  padding: 50px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.none {
  display: none;
}
.profile {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px #ddd;
}
.profile h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 200;
}
.profile img {
  height: 100px;
}
